Flask
numpy
scikit-learn
joblib
waitress
flask-login
oauthlib
requests
google-auth
google-auth-oauthlib
openai
beautifulsoup4
selenium
chromedriver-autoinstaller
feedparser
langchain
chromadb
sentence-transformers
faiss-cpu
pandas
lxml
html5lib
